<link rel="stylesheet" href="https://cdn.opinew.com/styles/opw-icons/style.css">
<style id='opinew_product_plugin_css'>{{shop.metafields.opinew['opinew_product_plugin_css']}}</style>
<div id='opinew_config_container' style='display:none;' data-opwconfig='{{shop.metafields.opinew['opinew_config']}}'></div>
<script> 
  var OPW_PUBLIC_KEY = "TMXS9L9WT8Q2ON9RAX4Q";
  var OPW_API_ENDPOINT = "https://api.opinew.com";
  var OPW_CHECKER_ENDPOINT = "https://shop-status.opinew.cloud";
  var OPW_BACKEND_VERSION = "23.31.2-0-ga3cf9a63a";
</script>
<script src="https://cdn.opinew.com/shop-widgets/static/js/index.6cdc511c.js" defer></script>
{% if shop.metafields.opinew['opinew_floating_widget'] == 'enabled' %}
<div data-opw-prodreviews="{{ shop.metafields.opinew['opinew_all_reviews'] }}">
  <span id="opinew_product_floating_widget"></span>
</div>
{% endif %}
