<script>
  {% assign random_number = "now" | date: "%N" | modulo: 1000 | plus: 0 %}
    var scmCustomDataWigetAll= (typeof scmCustomDataWigetAll == "undefined" || scmCustomDataWigetAll == null) ? [] : scmCustomDataWigetAll;
  scmCustomDataWigetAll[{{ random_number }}] ={
    "productId" : '',
    "typePage" : 'happyPage',
    'reviewsInFo' : {
      'rate1' : '',
      'rate2' : '',
      'rate3' : '',
      'rate4' : '',
      'rate5' : '',
      'total' : '',
      'average' : '',
      'product_shopify_id' : ''
    },
    "order_current_product" : "",
    "blockReviewFirst" : "{{ shop.metafields.scm_review_importer.reviews_happyPage }}"
  };
</script>
<div class="scm-container" style="display: none;">
  <div class="scm-reviews-importer">
    <iframe class="scm-reviews-importer-iframe" width="100%" title="Sma reviews section Happy Page" data-idIframe="{{ random_number }}"></iframe>
  </div>
</div>
