<style>
	.earth-icon {
		width: 1.5em;
		height: 1.5em;
		vertical-align: -0.15em;
		fill: currentColor;
		overflow: hidden;
	}
	.ug-current-country {
		cursor: pointer;
		color: inherit;
		font-size: inherit;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	.ug-current-country .ug-current-country-text:hover {
		color: white;
	}
	.ug-current-country-text {
		margin-left: 8px;
	}
	.ug-select-country-dialog {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 1000;
		backdrop-filter: blur(4px);
	}
	.ug-select-country-dialog__main {
		background: white;
		border-radius: 4px;
		max-width: 790px;
		padding: 64px 80px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 50%;
		margin-left: -395px;
	}
	.ug-select-country-dialog__header__title{
		font-weight: 600;
		font-size: 32px;
		color: #131414;
		text-align: center;
	}
	.ug-select-country-dialog__header__close{
		position: absolute;
		top: 25px;
		right: 25px;
	}
	.ug-select-country-dialog__header__close a:hover{
		color: #000000!important;
	}
	.ug-select-country-dialog__body {
		padding: 30px 0 0 0;
	}
	.ug-select-country-dialog__body__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
	}
	.ug-select-country-dialog__body__list__item {
		width: 50%;
		cursor: pointer;
		padding: 10px;

	}
	.ug-select-country-dialog__body__list__item.ComingSoon{
		opacity: .5;
	}
	.ug-select-country-dialog__body__list__item.ComingSoon a{
		cursor:not-allowed;
		color: #727273;
		background: #f4f4f4!important;
	}
	.ug-select-country-dialog__main .ug-select-country-dialog__body .ug-select-country-dialog__body__list__item a {
		width: 100%;
		height: 60px;
		color: #727273;
		padding: 0 20px;
		font-weight: 500;
		font-size: 16px;
		border-radius: 4px;
		background: #f4f4f4;
		display: flex;
		align-items: center;
		text-decoration: none;
	}
	.ug-select-country-dialog__body .ug-select-country-dialog__body__list .ug-select-country-dialog__body__list__item a:hover {
		background: #EAEAEF;
	}
	.ug-select-country-dialog__body__list__item__link__name {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 16px;
		padding-left: 32px;
		position: relative;
		font-weight: 400;
	}
	.ug-select-country-dialog__body__list__item__link__name .earth-icon{
		position: absolute;
		left: 0;
		top: 0;
	}
	.ug-select-country-dialog__body__list__item__link__name .language {
		color: #999999;
	}
	@media screen and (max-width: 768px) {
		.ug-select-country-dialog__body__list__item {
			width: 100%;
		}
		.ug-select-country-dialog__main{
			left: 0;
			margin: 0 24px;
			padding: 40px 24px;
			width: calc(100% - 48px);
		}
		.ug-select-country-dialog__header__title{
			font-size: 24px;
			line-height: 30px;
		}
		.ug-select-country-dialog__body{
			padding: 20px 0 0 0;
		}
		.ug-select-country-dialog__body__list__item{
			padding: 6px 0;
		}
		.ug-current-country{
			justify-content: center;
		}
	}

</style>
<div id="ug-current-country" class="ug-current-country">
	<p style="margin: 0 10px 0 0;font-size: 14px;color: #727273;">Land/Region wählen:</p>
	<svg class="earth-icon" aria-hidden="true">
		<use xlink:href="#icon-DE_icon"></use>
	</svg>
	<div class="ug-current-country-text">Deutschland / Deutsch</div>
</div>
<div class="ug-select-country-dialog">
	<div class="ug-select-country-dialog__main">
		<div class="ug-select-country-dialog__header">
			<div class="ug-select-country-dialog__header__title">Select Your Country/Region</div>
			<div class="ug-select-country-dialog__header__close">
				<a href="javascript:void(0)" class="ug-select-country-dialog__header__close__link">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
						<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
						<path d="M0 0h24v24H0z" fill="none"></path>
					</svg>
				</a>
			</div>
		</div>
		<div class="ug-select-country-dialog__body">
			<ul class="ug-select-country-dialog__body__list">
				<li class="ug-select-country-dialog__body__list__item">
					<a href="https://www.ugreen.com?SkipCozyRedirect=yes" class="ug-select-country-dialog__body__list__item__link">
						<div class="ug-select-country-dialog__body__list__item__link__name">
							<svg class="earth-icon" aria-hidden="true">
								<use xlink:href="#icon-US_icon"></use>
							</svg>
							<span>United States</span>
							<span class="language">English</span>
						</div>

					</a>
				</li>
				<li class="ug-select-country-dialog__body__list__item">
					<a href="https://eu.ugreen.com?SkipCozyRedirect=yes" class="ug-select-country-dialog__body__list__item__link">
						<div class="ug-select-country-dialog__body__list__item__link__name">
							<svg class="earth-icon" aria-hidden="true">
								<use xlink:href="#icon-EU_icon"></use>
							</svg>
							<span>Europe</span>
							<span class="language">English</span>
						</div>
					</a>
				</li>
				<li class="ug-select-country-dialog__body__list__item">
					<a href="https://ca.ugreen.com?SkipCozyRedirect=yes" class="ug-select-country-dialog__body__list__item__link">
						<div class="ug-select-country-dialog__body__list__item__link__name">
							<svg class="earth-icon" aria-hidden="true">
								<use xlink:href="#icon-CA_icon"></use>
							</svg>
							<span>Canada</span>
							<span class="language">English</span>
						</div>
					</a>
				</li>
				<li class="ug-select-country-dialog__body__list__item">
					<a href="https://de.ugreen.com?SkipCozyRedirect=yes" class="ug-select-country-dialog__body__list__item__link">
						<div class="ug-select-country-dialog__body__list__item__link__name">
							<svg class="earth-icon" aria-hidden="true">
								<use xlink:href="#icon-DE_icon"></use>
							</svg>
							<span>Deutschland</span>
							<span class="language">Deutsch</span>
						</div>
					</a>
				</li>
				<li class="ug-select-country-dialog__body__list__item">
					<a href="https://uk.ugreen.com?SkipCozyRedirect=yes" class="ug-select-country-dialog__body__list__item__link">
						<div class="ug-select-country-dialog__body__list__item__link__name">
							<svg class="earth-icon" aria-hidden="true">
								<use xlink:href="#icon-UK_icon"></use>
							</svg>
							<span>United Kingdom</span>
							<span class="language">English</span>
						</div>
					</a>
				</li>
				<li class="ug-select-country-dialog__body__list__item">
					<a href="https://fr.ugreen.com?SkipCozyRedirect=yes" class="ug-select-country-dialog__body__list__item__link">
						<div class="ug-select-country-dialog__body__list__item__link__name">
							<svg class="earth-icon" aria-hidden="true">
								<use xlink:href="#icon-FR_icon"></use>
							</svg>
							<span>France</span>
							<span class="language">Français</span>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<script src="https://de.ugreen.com/cdn/shop/t/3/assets/jquery@3.min.js?v=158417595810649192771694689714"></script>
<script>
	$(function () {
		const COUNTRY = {
			eu: 'Europe / English',
			www: 'United States / English',
			ca: "Canada / English",
			de: "Deutschland / Deutsch",
			uk: "United Kingdom / English",
			fr: "France / Français",
		}
		const initCountry = () => {
			const hostname = window.location.hostname
			const country = hostname.split('.')[0]
			const currentCountry = COUNTRY[country] || 'Deutschland / Deutsch'
			$('.ug-current-country-text').text(currentCountry)
		}
		const listen = () => {
			$('#ug-current-country').on('click', function () {
				$('.ug-select-country-dialog').show()
			})
			$('#ug-top-current-country').on('click', function () {
				$('.ug-select-country-dialog').show()
			})
			$('.ug-select-country-dialog__header__close__link').on('click', function () {
				$('.ug-select-country-dialog').hide()
			})
		}
		initCountry()
		listen()
	})
</script>